<h2>The Story of Rupert the Fox</h2>

<p>Once upon a time, there was a {{story.animal}} named {{story.name}}. He was only {{story.age}} years old, but he loved to travel.</p>

<div>
    <a href='/middle'>Next Page</a>
</div>