<h2>The Story of Rupert the Fox</h2>

<p>After a while, Rupert met a beautiful fox named {{story.foxWife}}. They fell deeply in love and lived in {{story.housing}}. They lived happily every after. The {{story.storyPart}}.</p>

<div>
    <a href='/beginning'>Back to the Beginning</a>
</div>