<h2>The Story of Rupert the Fox</h2>

<p>One day, Rupert decided to visit {{story.place}}. So, he hopped on a {{story.travelVehicle}} to get there. Once he got there, he decided to stay for at least {{story.yearsToStay}} years.</p>

<div>
    <a href='/end'>Last Page</a>
</div>